body {
    background-color: #F7EDE2;
    text-align: center;
    color: #014c7a;
    margin: 0;
    font-family: 'Oswald Light 300', sans-serif;
    padding-bottom: 65px;
}


#Rachel_pic{
    width: 200px;
    height: 200px;
    border: 2px solid #457B9D; 
    border-radius: 50%;
    box-shadow: 3px 3px 5px 2px #566874;
}

h1{
    margin-top: 50px;
    color: #457B9D;
    font-family: 'Oswald Bold 700', sans-serif;
}

h2{
    font-family: 'Oswald Semi-bold 600', sans-serif;
}

h3{
    font-family: 'Oswald Medium 500', sans-serif;
}

h4{
    font-family: 'Oswald Regular 400', sans-serif;
}


.sub-heading{
    margin-top: 60px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px auto;
    justify-content: center;
}

.description{
    width: 80%;
    margin: 30px auto;
}

.skills, .background {
    width: 50%;
    background-color: #457B9D;
    padding: 40px 0 40px 0;
}

.transferable, .returning, .experience {
    width: 80%;
    background-color: #A8DADC;
    padding: 20px;
}

.trainers{
    text-decoration: none;
}

.trainers:link{
    color:  #E63946;
}

.trainers:visited{
    color:  #F7EDE2;
}

ul.legal{
    margin-top: 0;
}

ul.legal li {
    text-align: left;
}

.front-end{
    width: 40%;
    background-color: #A8DADC;
}

.back-end{
    width: 40%;
    background-color: #E63946;
}

ul.languages li {
    list-style-type: none;
    text-align: left;

}

.project-list{
    width: 75%;
}

.project{
    width: 175px;
    height: 75px;
}

.project p{
    margin-top: 30px;
}

.project a {
    text-decoration: none;
}

.red{
    background-color: #E63946;
    margin: 15px 30px;
}

.red a:link{
    color: #014c7a;
}

.red a:visited{
    color: #A8DADC;
}

.blue{
    background-color: #A8DADC;
    margin: 15px 30px;
}

.blue a:link{
    color: #014c7a;
}

.blue a:visited{
    color: #E63946;
}

footer{
    background-color: #A8DADC;
    margin:0;
    position: fixed;
    bottom: 0;
    width:100%;
    justify-content:space-evenly;
}

footer ul{
    padding: 0;
    margin:0;
}

footer ul li {
    list-style-type: none;
    padding: 15px 100px;
    height: 30px;
}

#github:link .fa-github-square{
    color: #E63946;
}

#github:visited .fa-github-square{
    color:  #457B9D;
}

#linkedin:link .fa-linkedin{
    color: #E63946;
}

#linkedin:visited .fa-linkedin{
    color:  #457B9D;
}

/* iPad Pro (landscape) ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {

    .description{
        width: 80%;
        margin: 30px auto;
    }
    
    .skills, .background {
        width: 80%;
        padding: 40px 0 40px 0;
    }
    
    .transferable, .returning, .experience {
        width: 80%;
        padding: 20px;
    }
    
    .project-list{
        width: 90%;
    }

    .red, .blue{
        margin: 15px 20px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .description{
        width: 80%;
        margin: 30px auto;
    }
    
    .skills, .background {
        width: 80%;
        padding: 40px 0 40px 0;
    }
    
    .transferable, .returning, .experience {
        width: 80%;
        padding: 20px;
    }
    
    .project-list{
        width: 90%;
    }

    .red, .blue{
        margin: 15px 20px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .description{
        width: 80%;
        margin: 30px auto;
    }
    
    .skills, .background {
        width: 80%;
        padding: 40px 0 40px 0;
    }
    
    .transferable, .returning, .experience {
        width: 80%;
        padding: 20px;
    }
    
    .project-list{
        width: 90%;
    }

    .red, .blue{
        margin: 15px 20px;
    }


}

/* smaller tablets (landscape) ----------- */
@media only screen and (min-device-width: 501px) and (max-device-width: 767px) and (orientation: landscape) {
  
    .description{
        width: 80%;
        margin: 30px auto;
    }
    
    .skills, .background {
        width: 80%;
        padding: 40px 0 40px 0;
    }
    
    .transferable, .returning, .experience {
        width: 80%;
        padding: 20px;
    }
    
    .project-list{
        width: 90%;
    }

    .red, .blue{
        margin: 15px 20px;
    }

}


/* smaller tablets (portrait) ----------- */
@media only screen and (min-device-width: 501px) and (max-device-width: 767px) and (orientation: portrait) {
    
    .description{
        width: 80%;
        margin: 30px auto;
    }
    
    .skills, .background {
        width: 80%;
        padding: 40px 0 40px 0;
    }
    
    .transferable, .returning, .experience {
        width: 80%;
        padding: 20px;
    }

    .project-list{
        width: 90%;
    }

    .red, .blue{
        margin: 15px 20px;
    }

}    

/* phones */
@media only screen and (max-width: 500px) {

    .description{
        width: 90%;
        margin: 30px auto;
    }
    
    .skills, .background {
        width: 90%;
        padding: 40px 0 40px 0;
    }
    
    .transferable, .returning, .experience {
        width: 90%;
        padding: 20px;
    }
    
    .project-list{
        width: 90%;
    }

    .red, .blue{
        margin: 15px 20px;
    }

    footer{
        justify-content:space-evenly;
        padding:0px;
    }
    
    footer ul li {
        padding: 0px 20px;
        height: 30px;
    }

    #github .fa-github-square{
        font-size: 2em;
        padding-right: 30px;
    }

    #linkedin .fa-linkedin{
        font-size: 2em;
        padding-left: 30px;
    }
}

/* small phones */
@media only screen and (max-width: 350px) {

    /* ul.languages li {
        
        width: 70%;
    
    } */

    .front-end, .back-end{
        width: 60%;
    }
}
